/* reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins';
    font-style: normal;
    margin: 0px;
    line-height: 1.6;
    background-color: var(--colors-primary);
}
a{
    text-decoration: none;
}
img {
    width: 15rem;
    height: 15rem;
    vertical-align: middle;
}
figure{
    margin: 0;
}
h1,h2,p,h3,ul,ol,figure{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-grid-cover ul{
    font-size: 0;
}
.main-grid-cover ul li{
    display: inline-block;
    font-size: initial;
}
nav ul li a{
    display: inline-block;
    font-family: 'Poppins';
    text-decoration: none;
    font-size: 3.0rem;
    background-color: var(--colors);
    color: var(--colors-primary);
}
nav ul li{
    display: inline-block;
    width: calc(100% / 3);
    text-align: center;
    font-size: initial;
    text-transform: uppercase;
    line-height: 6rem;
}
:root{
    --color-text-title: #ffffff;
    --colors-primary: rgb(34, 33, 33);
    --colors: #09459e;
}
h2{
    color: var(--color-text-title);
    font-size: 5rem;
    text-transform: initial;
    text-align: center;
    line-height: 1
}
/* theme */
header{
    margin-bottom: 2rem;
    text-transform: initial;
    background-color:var(--colors);
    color: var(--color-text-title);
}
header h1{
    line-height: 7rem;
    text-align: center;
    color: var(--color-text-title);
    font-weight: 300;
}
section ul li{
    display: inline-block;
    width: calc(100% / 4);
    margin: auto;
    vertical-align: top;
}
section .main-grid-cover figure{
    padding: .5rem;

}
li figure{
    margin: auto;
    width: 10rem;
}
li{
    width: 0rem;
}
footer{
    text-align: center;
    background-color: var(--colors);
    color: var(--color-text-title);
    letter-spacing: .1rem;
    line-height: 5rem;
}
h3{
    font-size: 3rem;
    color: var(--color-text-title);
}
footer section{
    display: inline-block;
    margin: 5rem;
    color: var(--colors-primary);
}
footer a{
    color: var(--colors-primary);
}
footer p{
    font-size: 1.5rem;
    text-align: center;
}
@media screen and (max-width:70rem){

    h2{
        font-size: 2rem;
    }
    section ul li{
        width: calc(100% / 2);
    }
    figcaption{
        height: 10rem;
    }
}