/* reset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
html{
    font-size: 62.5%;
}
main{
    max-width: 100rem;
    padding-left: 45rem;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins';
    font-style: normal;
    margin: 0px;
    line-height: 1.6;
    background-color: var(--colors-primary);
}
a{
    text-decoration: none;
}
li{
    color: var(--color-text-title);
}
img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
figcaption{
    color: var(--color-text-title);
    text-align: center;
    width: auto;
}
figure{
    margin: 0;
    width: 10rem;
    color: var(--color-text-title);
    text-align: center;
}
h1,h2,p,h3,ul,ol,figure{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-grid-cover ul{
    font-size: 0;
}
.main-grid-cover ul li{
    display: inline-block;
    font-size: initial;
}
nav ul li a{
    display: inline-block;
    font-family: 'Poppins';
    text-decoration: none;
    font-size: 3.0rem;
    background-color: var(--colors);
    color: var(--colors-primary);
}
nav ul li{
    display: inline-block;
    width: calc(100% / 4 );
    text-align: center;
    font-size: initial;
    text-transform: uppercase;
    line-height: 6rem;
}
:root{
    --color-text-title: #ffffff;
    --colors-primary: #2a2828;
    --colors: #083c8a;
}
h2{
    color: var(--color-text-title);
    font-size: 2rem;
    text-transform: initial;
    text-align: left;
    line-height: 5rem
}
/* theme */
header{
    margin-bottom: 2rem;
    text-transform: initial;
    background-color:var(--colors);
    color: var(--color-text-title);
}
header h1{
    line-height: 7rem;
    text-align: center;
    color: var(--color-text-title);
    font-weight: 300;
    font-size: 5rem;
}
section ul li{
    display: inline-block;
    width: calc(100% / 5);
    margin: 1rem;
    vertical-align: top;
    width: auto;
    padding-left: 6rem;
}
ul{
    background-color: #3f4246;
    border-radius: 10px;
    margin-bottom: 5rem;
}
section figure{
    padding: .5rem;
}
section{
    line-height: 2.5rem;
}
footer{
    text-align: center;
    background-color: var(--colors);
    color: var(--color-text-title);
    letter-spacing: .1rem;
    line-height: 5rem;
}
h3{
    font-size: 3rem;
    color: var(--color-text-title);
}
footer section{
    display: inline-block;
    margin: 5rem;
    color: var(--colors-text-title);
}
footer p{
    font-size: 1.5rem;
    text-align: center;
}
@media screen and (max-width:70rem){

    h2{
        font-size: 2rem;
    }
    section ul li{
        width: calc(100% / 3);
    }
    figcaption{
        height: 10rem;
    }
}